.Footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.formContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
