.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.websiteName {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: #ff9900;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-email {
  font-weight: 500;
  margin-right: 20px;
}

.logout-button {
  background-color: #ff9900;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #333;
  color: white;
}

.login-signup-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.login-signup-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.login-signup-links a:hover {
  color: #ff9900;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .websiteName {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .links a {
    margin: 5px 0;
  }

  .user-section,
  .login-signup-links {
    margin-top: 10px;
  }

  .user-email {
    display: block;
  }

  .logout-button {
    margin-top: 10px;
  }
}
