* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.pokemonCards {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row */
  gap: 30px; /* Adjust the gap between cards */
  width: 70%;
}
.pokemonImage {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}

.pokemonImage img {
  width: 100%;
  height: 100%;
}

.pokemonNumber {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  padding: 5px 20px;
  text-align: center;
  background-color: #ffffff;
}
.pokemonName {
  text-align: center;
  font-weight: 600;
}
.pokemonTyping {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.pokemonTyping p {
  color: #ffffff;
  font-weight: 600;
}

/* ================== POKEMON TYPING ================== */
.type-bug {
  background-color: #26de81;
  border-radius: 10px;
  padding: 5px;
}

.type-dragon {
  background-color: #ffeaa7;
  border-radius: 10px;
  padding: 5px;
}
.type-electric {
  background-color: #fed330;
  border-radius: 10px;
  padding: 5px;
}

.type-fairy {
  background-color: #ff0069;
  border-radius: 10px;
  padding: 5px;
}

.type-fighting {
  background-color: #30336b;
  border-radius: 10px;
  padding: 5px;
}
.type-fire {
  background-color: #f0932b;
  border-radius: 10px;
  padding: 5px;
}
.type-flying {
  background-color: #81ecec;
  border-radius: 10px;
  padding: 5px;
}
.type-grass {
  background-color: #00b894;
  border-radius: 10px;
  padding: 5px;
}
.type-ground {
  background-color: #efb549;
  border-radius: 10px;
  padding: 5px;
}
.type-ghost {
  background-color: #a55eea;
  border-radius: 10px;
  padding: 5px;
}
.type-ice {
  background-color: #74b9ff;
  border-radius: 10px;
  padding: 5px;
}
.type-normal {
  background-color: #95afc0;
  border-radius: 10px;
  padding: 5px;
}
.type-poison {
  background-color: #6c5ce7;
  border-radius: 10px;
  padding: 5px;
}
.type-psychic {
  background-color: #a29bfe;
  border-radius: 10px;
  padding: 5px;
}
.type-rock {
  background-color: #2d3436;
  border-radius: 10px;
  padding: 5px;
}
.type-water {
  background-color: #0190ff;
  border-radius: 10px;
  padding: 5px;
}

.type-steel {
  background-color: #71797e;
  border-radius: 10px;
  padding: 5px;
}
